.datagrid table
{
border-collapse: collapse;
text-align: left;
width: 100%;
}
.datagrid {
	font: bold;
	background: #000000;
	overflow: hidden;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	}

.datagrid table td, .datagrid table th
{ padding: 5px 7px;
}
.datagrid table thead th {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b94a48;), color-stop(1, #b94a48) );
	background:-moz-linear-gradient( center top, #2175BD; 5%, #b94a48 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b94a48', endColorstr='#b94a48');
	background-color:#b94a48;
	color:#FFFFFF;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	}
.datagrid table thead th:first-child {
	border: 1 px;
	}

.datagrid table tbody td
{
color: #FFFFFF;
font-size: 10px;

}

.datagrid table tbody .alt td {
background: #E1EEf4;
color: #00557F; }

.datagrid table tbody td:first-child {
border-left: none;
}
.datagrid table tbody tr:last-child td { border-bottom: none; }
.datagrid table tfoot td div { border-top: 1px solid #006699;background: #E1EEf4;}
.datagrid table tfoot td { padding: 0; font-size: 10px }
.datagrid table tfoot td div{ padding: 2px; }
.datagrid table tfoot td ul { margin: 0; padding:0; list-style: none; text-align: right; }
.datagrid table tfoot  li { display: inline; }
.datagrid table tfoot li a { text-decoration: none; display: inline-block;  padding: 2px 8px; margin: 1px;color: #FFFFFF;border: 1px solid #006699;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; }
.datagrid table tfoot ul.active,
.datagrid table tfoot ul a:hover { text-decoration: none;border-color: #00557F; color: #FFFFFF; background: none; background-color:#006699;}