body {
    width: 100%;
    height: 100%;
    font-family: 'Istok Web','Tahoma',  sans-serif;
    color: #fff;
    background-color: #000000;

}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 10px;
    text-transform: uppercase;
    font-family: 'Carme',sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 14px;
    line-height: 1.5;
    vertical-align: middle;

}
.texto{
    padding:10px 10px 10px 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    background:rgb(0,0,0);
    background:rgba(0,0,0,.4);
    *background:transparent;
    *filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#6F000000,endColorStr=#6F000000);
    *-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#6F000000,endColorstr=#6F000000)";
}



a {
    color: #fff;
    font-family: 'Carme',sans-serif;
    font-size:12px;
    font-weight: 700;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    font-weight: 700;
}

.light {
    font-weight: 400;
}

.navbar {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Carme',sans-serif;
    background-color: #000;
    padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
}

.navbar-brand {
    font-weight: 700;
    font-size:16px;
}

.navbar-brand:focus {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
    outline: 0;
    background: #7c0000;
    background-color: rgba(255, 0, 0, 0.2);
}

.navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}
.top-nav-collapse {
        padding: 0;
        background-color: #000;
    }

    .navbar-custom.top-nav-collapse {

    }


.intro {
    display: table;
    width: 100%;
    height: 100%;
    padding: 100px 0;
    text-align: center;
    font-family: Gafata,sans-serif;
    color: #fff;
    background: url(../images/fondos/fondoGG.jpg) no-repeat center center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}

.intro-body {
    display: table-cell;
    vertical-align: middle;
}

.brand-heading {

    font-size: 60px;
}

.intro-text {
    font-size: 28px;
    margin: 230px 0 0 0;
}



.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 35px;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.page-scroll .btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.page-scroll .btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}


.download-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    background: url(../images/fondos/contacto2.jpg) no-repeat center center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#map {
    width: 100%;
    height: 200px;
    margin-top: 100px;
}



.btn {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid #28c3ab;
    color: #28c3ab;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #28c3ab;
    outline: 0;
    color: #000;
    background-color: #28c3ab;
}

.btn-huge {
    padding: 25px;
    font-size: 26px;
}

.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons>li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons>li:last-child {
        margin-bottom: 0;
    }
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    -webkit-tap-highlight-color: rgba(255,255,255,.2);
}

.contacto p {
   color: white;
   font-size: 15px;

   padding-left: 10px;

}

.contacto a {
   color: white;

}

.contacto i{
    padding-right: 20px;
    color: white;
}
.login {
    width:300px;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    z-index: 1050;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
    }
.modal-dialog {
width: 700px;
padding-top: 30px;
padding-bottom: 30px;
position: relative;
z-index: 1050;
padding: 10px;
margin-right: auto;
margin-left: auto;
}

.modal-content {
position: relative;
background-color: #ffffff;
border: 1px solid #999999;
border: 1px solid rgba(0, 0, 0, 0.2);
border-radius: 6px;
outline: none;

}

.modal-header {
  background: #FFF;
  color: #000;
  border-bottom: 5px solid #e4333c;
  text-align: center;
}
.modal-header .close {
  color: #000;
}
.modal-header h4 {
  text-align: center;
}
.modal-body{
  background: #FFF;
  color: #000;
  -webkit-transition:opacity 0.3s linear 0s;
     -moz-transition:opacity 0.3s linear 0s;
       -o-transition:opacity 0.3s linear 0s;
          transition:opacity 0.3s linear 0s;
}
.modal-body p {
  font-size: 12px;
  }

.modal-header h2 {
   position: absolute;
   top: 2px;
   left: 5px;
   width: 100%;
}



.listado_comunas ul {
    font-size:10px;
    float:left;
    font-weight: 300;
    padding:0 0;
    color:white;
    list-style:none

    }

.listado_comunas span {
    width:28px;
    background-color: #e4333c;
    font-weight: normal;
    padding: 1px 2px;

    }

.mapaGG {
        padding: 0px;
        box-shadow: 0 0 10px #000;
        border-radius: 10px 10px;
        margin:0px;
        width:350px;
        height:700px;
        border: 5px outset #A82121;

      }
.mapa_contacto {
        margin-top: 115px;
        box-shadow: 0 0 10px #000;
        border-radius: 10px 10px;
        width:300px;
        height:300px;  
        border: 3px outset #000;  
      }

.listado_gmaps {
        padding: 5px;
        box-shadow: 0 0 10px #000;
        border-radius: 0 10px;

        width:300px;
        height:550px;
        margin-left: 10px;
         float: left;
      }

.section {
	width: 100%;
	max-width: 1140px;
	min-width: 960px;
	z-index: 10;
	position: relative;
	margin: 0 auto;
	padding: 0 0 20px 0;
}


.logoSistema{
  position: relative;
  width:175px;
  height:115px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 30px;


  vertical-align: middle;
}

.logoSistema img{
  padding: 5px;
  position: absolute;
  min-width:100px;
  max-width:145px;
  max-height:110px;
  min-height:65px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
   -webkit-filter: grayscale(0); /* Chrome */
    filter: none; /* Applies to FF + IE */
}

.logoSistema img:hover {

    -webkit-transition: -webkit-filter 1s;
    -webkit-filter: grayscale(1);  /* Chrome */
    filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
}


.logoWeb{
  position: relative;
  max-width:190px;
  height:130px;
  text-align: center;

  margin-bottom: 30px;
  margin-top: 30px;
  margin-left: 10px;


  vertical-align: middle;
}

.logoWeb img{
  padding: 5px;
  position: absolute;
  width:190px;
  height:120px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 5px 5px 5px 5px;
   -webkit-filter: grayscale(0); /* Chrome */
    filter: none; /* Applies to FF + IE */
}

.logoWeb img:hover {

    -webkit-transition: -webkit-filter 1s;
    -webkit-filter: grayscale(1);  /* Chrome */
    filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
}

.aws-pattern{
  background: url("../images/fondos/tira.png") no-repeat center;
  width:100%;
  text-align: center;
  padding:0 0 40px 0;
}
.aws-pattern2{
  background: url("../images/fondos/tira2.png") no-repeat center;
  width:100%;
  text-align: center;
  padding:0 0 40px 0;
}
.aws-pattern3{
  background: url("../images/fondos/tira3.png") no-repeat center;
  width:100%;
  text-align: center;
  padding:0 0 40px 0;
}

.aws{

  text-align: center;
  padding:5px 5px 50px 5px;
  height: 80px;
  margin-bottom:10px;

}
.aws .comments {
    color: #FFFFFF;
    font-size: 90px;
    margin-left: -30px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.aws p{
  font-family: Gafata,sans-serif;

  color:#FFFFFF;
  padding: 15px 0 20px;
  font-size: 26px;
  font-weight: bold;
}

.sistemas-pattern{
  background: url("../images/fondos/sistemas.png") repeat;
  text-align: center;
  padding:0 0 30px 0;
}
.sistemas{
  background-color: #e4333c;
  text-align: center;
  padding:5px 5px 30px 5px;
  height: 80px;
  margin-bottom:20px;
  margin-top:30px;
}
.sistemas .comments {
    color: #FFFFFF;
    font-size: 90px;
    margin-left: -30px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.sistemas p{
  color:#FFFFFF;
  padding: 20px 0;
  font-size: 24.5px;
  font-weight: bold;
}


.title{
  border-left: 5px solid #e4333c;
  padding: 0px 1px 1px 10px;
  margin: 40px 0 25px 0;

}
.title h1{
    font-family: Gafata,sans-serif;
    text-transform: none;
    }
.title-social{
  color: #FFF;
  text-align: center;
  margin: 70px 0 25px 0;
}
.title-modal{
  border-left: 5px solid #e4333c;
  padding: 0px 1px 1px 10px;
  margin: 15px 0 15px 0;
}

.empresa-section {
    width: 100%;
    padding: 10px 0;
    color: #fff;
    background: url(../images/fondos/cel2.jpg) no-repeat center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.clientes-section {
    width: 100%;

    color: #fff;
    background: url(../images/fondos/mapa.jpg) no-repeat center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


.servicios-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    background: url(../images/fondos/opcion1.jpg) no-repeat center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


.picture img {
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 96%;
}

.img-polaroid {
    padding: 0px;
}

.programas img {
    margin-left: 10px;
    margin-right: 10px;
    display: block;

    max-width: 50px;
    max-height: 50px;
    text-align:center;
}

.thumbs {
  position: relative;
  text-align: center;
  margin: 0 auto 0px;
  border: none;
}
.thumbs a span{
  color:white;
  font-size: 20px;
  border: none;

  left: 5px;
  position: absolute;
  text-align: center;

  -webkit-transition:opacity 0.3s linear 0s;
     -moz-transition:opacity 0.3s linear 0s;
       -o-transition:opacity 0.3s linear 0s;
          transition:opacity 0.3s linear 0s;
  width: 97%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}

.footer-dark{padding:40px 0;background:#3C3E45;color:#A5A6AB;}
.footer-dark a{color:#A5A6AB;text-decoration:none;}
.footer-dark a:hover,.footer-dark a:focus{color:#FFFFFF;text-decoration:none;}
.footer-dark hr{border-top:1px solid #292B33 !important;}
.footer-dark h6{font-size:14px;color:#FFFFFF;font-family:"OmnesMedium",Helvetica Neue,Helvetica,Arial,sans-serif;margin-bottom:20px;}
.footer-dark li{margin-bottom:5px;}
.footer-dark span{color:#1F2127;}

.dibujos{
display:block;
margin:10px;
}

.thumbnail {
display: inline-block;
display: block;
height: 300px;
max-width: 200px;
padding: 0px;
margin-bottom: 10px;
line-height: 1.428571429;
background-color: #F3F3F3;
border: 2px solid #FFFFFF;
border-radius: 4px;
-webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}

.thumbnail p {
margin: 0 0 10px;
font-size: 10px;
line-height: 1.5;
max-height: 160px;
}

.thumbnail h3 {
    font-family: Carme,sans-serif;
    font-size: 16px;
    margin: 0 0 5px;
    text-transform: uppercase;
}

.thumbnail .caption {
padding: 10px 10px 0px 10px;
color: #333333;

}

.thumbnail_recursos {
display: inline-block;
display: block;
height: 300px;
max-width: 200px;
padding: 0px;
margin-bottom: 10px;
line-height: 1.428571429;
background-color: #F3F3F3;
border: 2px solid #FFFFFF;
border-radius: 4px;
-webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}

.thumbnail_recursos p {
margin: 0 0 10px;
font-size: 12px;
line-height: 1.5;
max-height: 160px;
}

.thumbnail_recursos h3 {
    font-family: Carme,sans-serif;
    font-size: 16px;
    margin: 0 0 5px;
    text-transform: uppercase;
}

.thumbnail_recursos .caption {
padding: 9px;
color: #333333;

}

.thumbnail_recursos img {
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 96%;

    max-width: 150px;
    max-height:150px;
}

.thumbnail .verMas {
position:absolute;
bottom:0;
margin-bottom:10px;
margin:10px;
left:10px;
margin-right: 10px;
}


.nav .caret {
border-top-color: #D82937;
border-bottom-color: #428bca;
}