<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" charset="utf-8">
{% load static from staticfiles %}
<link rel="shortcut icon" type="image/png" href="{% static 'images/logo.png' %}">
<title>Grupo Guadalupe Sistemas</title>


</head>
<body>
 <h1>Ingrese al Chat</h1>
 <form method="POST">
  {% csrf_token %}
  <input type="text" name="nombre" placeholder="Ingrese su Nombre">
  <input type="submit" value="Ingrese su Nombre">
 </form>
</body>
</html>