<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" charset="utf-8">
{% load static from staticfiles %}
<link rel="shortcut icon" type="image/png" href="{% static 'images/logo.png' %}">
<title>Grupo Guadalupe Sistemas</title>


</head>
<body>
 <h1>Hola {{nombre}}!!</h1>
<hr>
<div id="comentarios">
{% for com in comentarios %}
	<p>{{ com.usuario}} - {{ com.fechayHora}} - {{com.descripcion}}</p>
{% endfor %}
</div>
 <form>
 	{% csrf_token %}
 	{{ form.descripcion }}
 	<button id="boton">Comentar</button>
 </form>

</body>
</html>

<script type="text/javascript" src="{% static 'css/bootstrap/js/jquery-1.11.0.js' %}"></script>
<script src= "http://localhost:3000/socket.io/socket.io.js"type="text/javascript"></script>
<script>
	var socket = io.connect("http://localhost:3000");

	$('#boton').on('click',Comentar);

	function Comentar(e){
		e.preventDefault();
		var datos = {
			usuario : "{{ nombre }}",
			descripcion : $('#id_descripcion').val(),
		}
		socket.emit('nuevo comentario',datos);
	}
	socket.on('devolviendo comentario',function (data){
		var data = JSON.parse(data);
		var d = new Date();
		$('#comentarios').prepend("<p>"+data.usuario+" - "+
			d.getDate() + "/" + (d.getMonth() +1) + "/" + d.getFullYear()+" "+d.getHours()+':'+d.getMinutes()+':'+d.getSeconds()+" - "+data.descripcion+"</p>");
	});

</script>
