/********************************************
   AUTHOR:  			Erwin Aligam
   WEBSITE:   			http://www.styleshout.com/
   TEMPLATE NAME: 	Underground
	TEMPLATE CODE:		S-0006
   VERSION:          1.1          	
 *******************************************/

/********************************************
   HTML ELEMENTS
********************************************/

/* top elements */


body {
	margin: 0; padding: 0;
	font: 70%/1.5 Verdana, Tahoma, Arial, Helvetica, sans-serif;
	color: #FFF;
	width: 100%;
background-image:url('bg1.jpg');
background-repeat:no-repeat;
background-size: 125%;

}

/* links */
a {
	color: #003366;
	background-color: inherit;
	text-decoration: none;
}
a:hover {
	color: #CC0001;
	background-color: inherit;
}

/* headers */
h1, h2, h3 {
	font-family: Arial, 'Trebuchet MS', Sans-Serif;
	font-weight: bold;
	color: #FFF;
}
h1 {
	font-size: 120%;
	letter-spacing: .5px;
	
}
h1 a {
	color: #FFFFFF;
         background-color: none;
         margin: 0 10px 1px 1px;
         padding: 0px 5px 1px 5px;
         text-transform: none;
}
h1 a:hover {
	color: #333;
	background-color: inherit;
}
h2 {
	font-size: 115%;	
	text-transform: uppercase; 		
}
h3 {
	font-size: 115%;
	color: #FFF;	
}

/* images */
img {
	border: 2px solid #CCC;
}
img.float-right {
  margin: 5px 0px 10px 10px;
}
img.float-left {
  margin: 5px 10px 10px 0px;
}

h1, h2, h3, p {
	padding: 0;		
	margin: 10px;
}

ul, ol {
	margin: 10px 20px;
	padding: 0 20px;
}

code {
  margin: 10px 0;
  padding: 10px;
  text-align: left;
  display: block;
  overflow: auto;
  font: 500 1em/1.5em 'Lucida Console', 'courier new', monospace;

  background: #FAFAFA;
  border: 1px solid #f2f2f2;
  border-left: 4px solid #7CA0C7;
}

acronym {
  cursor: help;
  border-bottom: 1px solid #777;
}

blockquote {
	margin: 10px;
 	padding: 0 0 0 32px;  	
  	background: #FAFAFA url(quote.gif) no-repeat 5px 10px !important;
	background-position: 8px 10px;
	border: 1px solid #f2f2f2;
	border-left: 4px solid #7CA0C7;
	font-weight: bold;
}

/* start - table */
table {
	border-collapse: collapse;
	margin-top: 5px;
	color: #000;
	
}
tr { background: #fff; }
tr.altrow { background: #F9F9F9;	}
th, td {
	text-align: left;			
	border-width: 1px;
  	border-style: solid;
}
th {
	color: #FFFFFF;
	background: #7CA0C7;
         border-color: #EFEFEF;
	padding: .8em 1em;		
}
td {
	border-color: #EFEFEF;	
	padding: .7em 1em;	
	font: 29% Verdana, Tahoma, Arial, Helvetica, sans-serif;		
}	
/* end - table */

/* form elements */
form {
	/* margin: 10px; */
	padding: 0 5px;
	border: 1px solid #f2f2f2;
	
}


label {
	display:block;
	font-weight:bold;
	margin:5px 0;
	color:white;
}

input {
	padding: 2px;
	border: 1px solid #eee;
	font: Verdana, sans-serif;
	font-weight:bold;
}

textarea {
	width: 400px;
	padding: 2px;
	font: normal 1em Verdana, sans-serif;
	border: 1px solid #eee;
	height: 100px;
	display: block;

}

input.button {
	margin: 0;
	font: normal 12px Arial, Sans-serif;
	border: 1px solid #CCC;
	padding: 1px;
	background: #FFF;
	color: #417690;
}

input.strong {
	font: bolder 12px Arial, Sans-serif;
}

/* search form */
form.search {
	position: absolute;
	top: 5px; right: 5px;
	padding: 0; margin: 0;
	border: none;
	background-color: transparent;
}

form.search input.textbox {
	margin: 0;
	width: 120px;
	border: 1px solid #CCC;
	background: #FFF;
	color: #333;
}

form.search input.searchbutton {
	margin: 0;
	font-size: 100%;
	font-family: Arial, Sans-serif;
	border: 1px solid #CCC;
	background: #FFFFFF url(headerbg.gif) repeat-x bottom left;
	padding: 1px;
	font-weight: bold;
	height: 23px;
	color: #333;
	width: 60px;
}

/* Errores en el Form */
.errorlist {
        padding-left: 12px;
        padding-right:5px;
        color: #CC0001;
        font-weight:bold;
 }
/**********************************
  LAYOUT
***********************************/
#wrap {
	margin: 5px ;
	width: 90%;
}

/* header */
#header {
	position: relative;
	margin: 0px; padding: 0;
	height: 60px;
	
}
#header span#slogan {
	z-index: 3;
	position: absolute;
	left: 23%; bottom: 7px;
	font: bold 1.2em Verdana, Arial, Tahoma,  Sans-serif;	
	color: #FFF;	
}

#header-logo {
	position: relative;
	clear: both;
	height: 50px;
	margin: 0; padding: 0;	
}
#header-logo #logo {
	position: absolute;
	top: 3px; left: 23%;
	font: bold 30px "trebuchet MS", Arial, Tahoma, Sans-Serif;
	margin: 0; padding: 0;
	letter-spacing: -1px;
	color: #FFF;
}

/* navigation tabs */
#header ul {
	position: absolute;
   margin:0;
   list-style:none;
	right:-18px ; bottom: 3px;
	font: bold 13px 'Trebuchet MS', Arial, Sans-serif;
}
#header li {
   display:inline;
   margin:0; padding:0;
}
#header a {
   float:left;
   background: url(tableft.gif) no-repeat left top;
   margin:0;
   padding:0 0 0 4px;
   text-decoration:none;
}
#header a span {
   float:left;
   display:block;
   background: url(tabright.gif) no-repeat right top;
   padding:5px 15px 4px 6px;
   color:#FFF;
}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#header a span {float:none;}
/* End IE5-Mac hack */
#header a:hover span {
	color:#FFF;
}
#header a:hover {
   background-position:0% -42px;
}
#header a:hover span {
   background-position:100% -42px;
}
#header .current a {
   background-position:0% -42px;
}
#header .current a span {
   background-position:100% -42px;
}

/* main column */
#main {
	float: right;
	margin: 0px;
	padding: 0px 10px 10px;
	width: 75%;
	color: #FFFFFF;
}
#main h1 {
	margin: 10px 0;
	padding: 4px 0 4px 8px;
	font-size: 105%;
	color: #FFFFFF;
	text-transform: uppercase;
	background: #7CA0C7 url(h1-bg.gif) repeat-x scroll left top;	
	letter-spacing: .5px;
	
}

/* sidebar */
#sidebar {
	float: left;
	width: 20%;
	margin: 0; padding: 0;
	//background-image:url('images/bg1.jpg');
background-repeat:no-repeat;
background-size: 100%;

}
#sidebar h1 {
	margin: 10px 0 0 0;
	padding: 4px 0 4px 8px;
	font: bold 105% Arial, Sans-Serif;
	color: #FFF;
	text-transform: uppercase;
	background: #333;
	letter-spacing: 1px;	
	border: 1px solid #000;
}
#sidebar .left-box {
	border: 1px solid black;
	margin: 0 0 5px 0;	
	background-image:url('bg3.jpg');
background-repeat:no-repeat;
background-size: 100%;

}
#sidebar ul.sidemenu {
	
	list-style: none;
	text-align: left;
	margin: 3px 0px 8px 0; padding: 0;
	text-decoration: none;		
}
#sidebar ul.sidemenu li {
	//border-bottom: 1px solid #f2f2f2;
	background: url('bullet.gif') no-repeat 3px 2px;	
	padding: 3px 5px 3px 25px;
	margin: 0;
	
}

#sidebar ul.sidemenu a {
	font-weight: bolder;
	padding: 3px 0px;	
	background: none;
	
	color: #FFF;
}

#sidebar ul.login {
	list-style: none;
	text-align: left;
	margin: 3px 0px 8px 0;
	padding: 0;
	text-decoration: none;		
}
#sidebar ul.login li { 	
	padding: 3px 5px 3px 25px;
	margin: 0;
		
}
#sidebar ul.login a {
	font-weight: bolder;
	padding: 3px 0px;	
	background: none;
}

/* footer */
.footer {

        color: #000;
        margin: 10px 0 10px 0;
        clear:both;
        height: 20px;
        //bottom:10px;
        width:100%;
	border-top: 1px solid #f2f2f2;
	background: #FFF url(footerbg.gif) repeat-x;
	padding: 2px 0 10px 0;
	text-align: center;
	line-height: 1.5em;	
	font-size: 95%;
	opacity:0.7;
  filter:alpha(opacity=60); /* For IE8 and earlier */
}
.footer a {
	text-decoration: none;
	font-weight: bold;		
}

/* alignment classes */
.float-left  { float: left; }
.float-right { float: right; }
.align-left  { text-align: left; }
.align-right { text-align: right; }
.align-center { text-align: center; }

/* display and additional classes  */
.clear {	clear: both; }
.blue   { color: #417690;
        font-weight:bold;}
.red   { color: red; }

.pBaja   {
        font-weight:bold;}

.dadoDeBaja   { background: #FFA4A4;
 }

.listado {
	color: #FFF;
	float: right;
}

.comments {
	margin: 20px 10px 5px 10px;
	padding: 3px 0;
	border-bottom: 1px dashed #EFF0F1; 	
	border-top: 1px dashed #EFF0F1;	
}

.agregar {
        padding-left: 12px;
        background: url(agregar.gif) no-repeat 0 0;	
        padding-right:5px;
        position: right;
 }

.editar {
        padding-left: 12px;
        background: url(editar.gif) no-repeat 0 0;	
                padding-right:5px;
 }

.borrar {
        padding-left: 12px;
        padding-right:5px;
        background: url(borrar.gif) no-repeat 0 0;	
 }





/* Boton form */


.boton_form {
	-moz-box-shadow:inset 0px 1px 0px 0px #417690;
	-webkit-box-shadow:inset 0px 1px 0px 0px #417690;
	box-shadow:inset 0px 1px 0px 0px #417690;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #417690), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#417690', endColorstr='#378de5');
	background-color:#417690;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	//font-family:arial;
	font-size:10px;
	font-weight:bold;
	padding:3px 20px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528ecc;
}.boton_form:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;
}.boton_form:active {
	position:relative;
	top:1px;
}

//Dashboard
.shortcut-button:hover {
                background: #fff;
				
                }
				
.shortcut-button span:hover {
				color: #57a000;
                }

ul.shortcut-buttons-set li {
                float: left;
                margin: 0 15px 0 0;
				padding: 0 !important;
				background: 0;
                }
.openings span {
    background-image: url('/media/style/openings.png');
}

/*
	Grey Suits you Sir. Please host the images on your own server.
	written by Stuart Colville http://www.muffinresearch.co.uk
*/

table,td
{
  border               : 1px solid #CCC;
  border-collapse      : collapse;
  font: small/1.5 "Tahoma", "Bitstream Vera Sans", Verdana, Helvetica, sans-serif;
}

#popup {
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
     z-index: 1001
}

.content-popup {
         margin:0px auto;
         margin-top:50px;
         padding:10px;
         width:500px;
         min-height:250px;
         border-radius:4px;
         background-color:#FFFFFF;
         box-shadow: 0 2px 5px #666666;
         }

.close {
     position:relative;
     left:480px;
     }
