<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" charset="utf-8">
{% load static from staticfiles %}
<link rel="shortcut icon" type="image/png" href="{% static 'images/logo.png' %}">
<title>Grupo Guadalupe Sistemas</title>

<link href="http://fonts.googleapis.com/css?family=Carme" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Gafata" rel="stylesheet" type="text/css">

<link href="{% static 'css/bootstrap/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/theme.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/bootstrap/css/bootstrap-responsive.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/bootstrap_modif.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet" type="text/css">


<script type="text/javascript" src="{% static 'css/bootstrap/js/jquery-1.11.0.js' %}"></script>
<script src="{% static 'css/bootstrap/js/html5shiv.min.js' %}" type="text/javascript"></script>
<script src="{% static 'css/bootstrap/js/html5shiv-printshiv.min.js' %}" type="text/javascript"></script>
<script src="{% static 'css/bootstrap/js/respond.min.js' %}" type="text/javascript"></script>



{% block extra_js %}
{% endblock %}

</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
    <div class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row-fluid">
                    <div class="col-md-8 col-md-offset-2">
                        <p class="intro-text">Página no encontrada...</p>
                        <div class="page-scroll">
                            <a href="/" class="btn btn-circle">
                                <i class="fa fa-angle-double-down animated"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>