{% load static from staticfiles %}
<div  class="title">
    <h1>Municipios que confían en Nosotros...</h1>
</div>
<div class="clientes-section">
 <div class="container">
            {% include "mapa.html" %}
 </div>
</div>

<div id="empresas" class="title">
    <h1>Clientes que confían en Nosotros...</h1>
</div>

                            <div class="container">
				<div class="col-md-3 text-center">
				       <a href="http://www.colegiotosantafe.com.ar" target="_blank">
				        <div class="logoSistema" id="logoTerapistas" title="Colegio de Terapistas Ocupacionales de la Provincia de Santa Fé" rel="logoTerapistas"
				           data-placement="bottom" data-toggle="tooltip">
				           <img  class="img-circle img-responsive img-center grises"
				           src="{% static 'images/clientes/terapistas.png' %}" >
                                            </div>
                                           </a>
				</div>
				
				
				
				<div class="col-md-3 text-center">
				     <a href="http://www.santafe.sadop.net" target="_blank">
				     <div class="logoSistema" id="logoSadop"  title="Sindicato Argentino de Docentes Privados" rel="logoSadop"
				           data-placement="bottom" data-toggle="tooltip">
    			           <img class="img-responsive img-center grises"
				           src="{% static 'images/clientes/logoSadop.png' %}" >
                                          </div>
                                          </a>
				</div>
				
                                     <div class="col-md-3 text-center">
				     <a href="http://www.cajaingenieria.org" target="_blank">
				     <div class="logoSistema" id="logoCajaIng" title="Caja de Ingeniería de la Provincia de Santa Fé" rel="logoCajaIng"
				           data-placement="bottom" data-toggle="tooltip">
				           <img  class="img-circle img-responsive img-center"
				           src="{% static 'images/clientes/logoCajaIng.png' %}">
                                          </div>
                                          </a>
				</div>
				<div class="col-md-3 text-center">
				   <a href="http://www.diputadossantafe.gov.ar" target="_blank">
				   <div class="logoSistema" id="logoCamara" title="Cámara de Diputados de la Provincia de Santa Fé" rel="logoCamara" data-placement="bottom" data-toggle="tooltip">
				            <img   class="img-responsive img-center" src="{% static 'images/clientes/logoCamara.png' %}">
                                         </div>
                                         </a>
                                     </div>
				
                            </div>
                            <div class="container">
				<div class="col-md-3 text-center">
				     <a href="http://www.christenyesquivel.com.ar" target="_blank">
				     <div class="logoSistema" id="logoCyE" title="Christen & Esquivel Negocios Inmobiliarios" rel="logoCyE"
				           data-placement="bottom" data-toggle="tooltip">

				           <img  class="img-responsive img-center grises"
				           src="{% static 'images/clientes/logoCyE.png' %}" >
                                          </div>
                                          </a>
				</div>
				<div class="col-md-3 text-center">
				       <a href="http://www.domconstrucciones.com.ar" target="_blank">
				          <div class="logoSistema" id="logoDOM" title="DOM Arquitectura | Construcción | Desarrollo" rel="logoDOM" data-placement="bottom" data-toggle="tooltip">
				            <img   class="img-responsive img-center" src="{% static 'images/clientes/domLogo.png' %}">
                                               </div>
                                           </a>
                                     </div>				
				<div class="col-md-3 text-center">
				     <a href="http://www.fiolsrl.com.ar" target="_blank">
				     <div class="logoSistema" id="logoFIOL" title="FIOL Construcciones SRL" rel="logoFIOL"
				           data-placement="bottom" data-toggle="tooltip">
				           <img class="img-responsive img-center" src="{% static 'images/clientes/logoFIOL.png' %}" >
                                        </div>
                                        </a>

				</div>
				<div class="col-md-3 text-center">
				    <a href="http://www.cajamunicipal.gov.ar" target="_blank">
				    <div class="logoSistema" id="logoCajaMuni" title="Caja Municipal de Jubilaciones y Pensiones - Santa Fé"  data-placement="bottom" data-toggle="tooltip">
				            <img   class="img-responsive img-center" src="{% static 'images/clientes/logoCajaMuni.png' %}"rel="logoCajaMuni">
                                       </div>
                                       </a>
				</div>
                            </div>
                            <div class="container">
				<div class="col-md-3 text-center">
				     <a href="http://santafepolimeros.com.ar/" target="_blank">
				     <div class="logoSistema" id="logoSFP" title="Santa Fé Polímeros" rel="logoSFP"
				           data-placement="bottom" data-toggle="tooltip">

				           <img  class="img-responsive img-center grises"
				           src="{% static 'images/clientes/logoSFP.png' %}" >
                                          </div>
                                          </a>
				</div>
				<div class="col-md-3 text-center">
				       <a href="http://www.igui.com.ar" target="_blank">
				          <div class="logoSistema" id="logoIgui" title="iGUi" rel="logoIgui" data-placement="bottom" data-toggle="tooltip">
				            <img   class="img-responsive img-center" src="{% static 'images/clientes/logoIgui.png' %}">
                                               </div>
                                           </a>
                                     </div>				
				<div class="col-md-3 text-center">
				     <a href="http://www.centrodejubilados.org.ar/" target="_blank">
				     <div class="logoSistema" id="logoJubi" title="Caja de Jubilados y Pensionados Municipales" rel="logoJubi"
				           data-placement="bottom" data-toggle="tooltip">
				           <img class="img-responsive img-center" src="{% static 'images/clientes/logoJubi.png' %}" >
                                        </div>
                                        </a>

				</div>
				<div class="col-md-3 text-center">
				    <a href="http://www.aydsistemas.com.ar" target="_blank">
				    <div class="logoSistema" id="logoAyD" title="A&D Sistemas"  data-placement="bottom" data-toggle="tooltip">
				            <img   class="img-responsive img-center" src="{% static 'images/clientes/logoAyD.png' %}"rel="logoAyD">
                                       </div>
                                       </a>
				</div>
                            </div>
                            <div class="container">
				<div class="col-md-3 text-center">
				     <a href="https://www.facebook.com/PilatesPlazaWebFace" target="_blank">
				     <div class="logoSistema" id="logoPPlaza" title="Pilates Plaza" rel="logoPPlaza"
				           data-placement="bottom" data-toggle="tooltip">

				           <img  class="img-responsive img-center grises"
				           src="{% static 'images/clientes/logoPPlaza.png' %}" >
                                          </div>
                                          </a>
				</div>
				<div class="col-md-3 text-center">
				       <a href="http://www.stcomputacion.com.ar" target="_blank">
				          <div class="logoSistema" id="logoST" title="ST Computación" rel="logoST" data-placement="bottom" data-toggle="tooltip">
				            <img   class="img-responsive img-center" src="{% static 'images/clientes/logoST.png' %}">
                                               </div>
                                           </a>
                                     </div>				
				
                            </div>


</div>

<script>
$('#logoTerapistas').tooltip();
$('#logoDOM').tooltip();
$('#logoCajaIng').tooltip();
$('#logoCamara').tooltip();
$('#logoCyE').tooltip();
$('#logoSadop').tooltip();
$('#logoFIOL').tooltip();
$('#logoCajaMuni').tooltip();
$('#logoSFP').tooltip();
$('#logoIgui').tooltip();
$('#logoJubi').tooltip();
$('#logoAyD').tooltip();
$('#logoPPlaza').tooltip();
$('#logoST').tooltip();
</script>