{% load static from staticfiles %}
<div class="inner">
    <div class="contacto">
	        
      <div class="row">
            <div class="col-md-8">
                <div class="title"><h1>Contáctenos</h1></div>
                <div class="texto">
                <p><b>Grupo Guadalupe S.R.L.</b></p>
                <p><i class="glyphicon glyphicon-map-marker"></i> Seguí 1616 Dpto. 8</p>
                <p><i class="glyphicon glyphicon-map-marker"></i> Santa Fé Capital - (3000) Santa Fé - Argentina</p>
                <p><i class="glyphicon glyphicon-earphone"></i> <span class="badge progress-bar-danger">+54 (0342) 4122782/83/84/85 (Líneas Rotativas)</span></p>
                <p><i class="glyphicon glyphicon-phone"></i> <span class="badge progress-bar-danger ">+54 (0342) 156128049</span></p>
                <p><a href="mailto:contacto@grupoguadalupe.com.ar"><i class="glyphicon glyphicon-envelope"></i><b> contacto@grupoguadalupe.com.ar</b></a></p>
                </div>
            </div>	
            <div class="col-md-4">
                  <div id="mapa_contacto" style="width:280px;height:300px" class="mapa_contacto"></div>
              </div>
			</div> 
      <div class="row">
            <div class="col-md-12">
                <div class="title"><h1>Horarios de Atención</h1></div>
                        <div class="texto">
                         <p><i class="glyphicon glyphicon-time"></i><b> Lunes a Viernes de 8:00 a 14:00 Hs</b> (Solo para soporte técnico)</p>
                                <p><i class="glyphicon glyphicon-user"></i><b> Líder de Proyecto:</b> Ing. en Sistemas Leandro Quagliotti   <span class="badge progress-bar-danger">+54 (0342) 156127681</span>
                        </p>
                        </div>
            </div>
      </div> 
</div>
</div>
<script>



                  // add an OpenStreetMap tile layer

                  //L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png').addTo(map);
                 //mbUrl = 'https://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png';
                 mbUrl = 'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoianVtYWphIiwiYSI6IklTTHpYcGsifQ.27NfQaTQ1JrObvcQIsRc_w';
                

            var calles  = L.tileLayer(mbUrl, {id: 'mapbox.streets'}),
             satelital  = L.tileLayer(mbUrl, {id: 'mapbox.streets-satellite'})

                var sudoeste2 = L.latLng(-20, -86);
                var noreste2 = L.latLng(-60, -36);
                var limites_mapa = L.latLngBounds(sudoeste2, noreste2);

                var mapa = L.map('mapa_contacto',
                  {                    
                    maxZoom:16,
                    minZoom:14,
                    maxBounds: limites_mapa,
                    layers: [calles]
                  }
                  ).setView([-31.643239, -60.694322], 15);
                var baseLayers = {
                    "Calles": calles,
                    "Satelital": satelital
            
        };
                L.control.layers(baseLayers).addTo(mapa);

        var LeafIcon = L.Icon.extend({
                        options: {
                            iconUrl: "{% static 'iconos/Sistemas2.png' %}",
                            iconSize:     [15, 15]
                        }
                    });
        var icono2 = new LeafIcon();
        L.marker([-31.643239, -60.694322], {icon: icono2,title:"Grupo Guadalupe SRL"}).addTo(mapa);
       
        
    </script>
