{% load static from staticfiles %}
<div class="inner">
                        <div class="title">
	                <h1>Nuestra Empresa...</h1>
	                </div>
<div class="container">
    <div class="col-md-7 ">
    <p>
    Somos una empresa Argentina, con sede en Santa Fé Capital, dedicada a brindar soluciones a Municipios y Empresas mediante el desarrollo de software a medida.
    <br>En GG Sistemas pensamos que nuestros desarrollos deben responder a las necesidades propias de cada organización, de tal forma que la solución se adapte al usuario y no el usuario a la solución.
    De igual forma, desarrollamos nuestros productos con el fin de que nuestros clientes puedan, al final del proceso, evidenciar una mejora dentro de su empresa, bien sea porque ahorran tiempo, dinero o porque simplifican sus procesos.
    <br>Uno de los objetivos principales es que nuestros clientes no sólo estén satisfechos con el producto que reciben, sino que además éste supere sus expectativas.
    </p>
    </div>
    <div  class="col-md-3 ">
        <img width="200" height="200" style="display:block;margin:-5px auto 10px 25px;" src="{% static 'images/fondos/desarrollo.png' %}">
    </div>
</div>
<div class="container">
<div class="col-md-4">
        <img width="200" height="200" style="display:block;margin:-20px auto 10px auto;" src="{% static 'images/fondos/desarrollo_scrum.png'  %}">
</div>
<div class="col-md-8">
<p>
<br>
En cada nuevo proyecto vemos una oportunidad para aprender y mejorar, y por eso, a través de éstos 8 años hemos implementado en nuestros desarrollos toda la experiencia adquirida.
De igual forma, tenemos claro que nunca se termina de aprender, por eso estamos en una constante búsqueda de actualización en tecnología y conocimientos
y cuando no dominamos un tema, buscamos las respuestas bien sea capacitándonos o por medio de socios estratégicos.
</p>
</div>
</div>
<div class="container">
<div class="col-md-7 ">
<p>
Vemos la tecnología como un aliado potencial de su negocio, es por eso que durante el proceso de relevamiento de información tratamos de que usted pueda tener un mejor panorama de cómo mejorar sus procesos,
de tal forma que de una modesta idea inicial, su empresa evolucione hacia una orientación tecnológica, eficiente e innovadora.
<br>Nuestro compromiso de calidad no se limita a la falta de errores en los desarrollos, también estamos muy comprometidos con el cumplimiento de cronogramas y fechas de entrega.
</p>
</div>
<div class="col-md-3 dibujos">
        <img width="200" height="200" style="display:block;margin:-20px auto 10px auto;" src="{% static 'images/fondos/productividad.png'  %}">
</div>
</div>
<div class="container texto">
<div class="col-md-12">
<p>
En GG Sistemas contamos con un equipo de trabajo fundamentado en la honestidad, la calidad y el respeto, y  esto se ve reflejado en nuestros resultados y en las relaciones con nuestros clientes.
<br>
Desde ya muchas gracias por su atención y por haber visitado nuestra página.<br>
                        Atte.<br>
<b>GRUPO GUADALUPE S.R.L.</b><br>
</p>
</div>
</div>

</div>