{% load static from staticfiles %}

<div class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div>
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">
                    <img src="{% static 'iconos/Sistemas.png' %}" width="24" height="24"/>   Sistemas Grupo Guadalupe
                </a>
            </div>


            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">

                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>

                    {% if not user.is_authenticated %}

                        <li class="page-scroll">
                            <a href="#servicios"><img src="{% static 'iconos/practise.png' %}" width="24" height="24"/> Servicios</a>
                        </li>
                        <li class="page-scroll">
                            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{% static 'iconos/intelligent.png' %}" width="24" height="24"/> Sistemas <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li class="page-scroll"><a href="#sistemas"> Municipios</a></li>
                                <li class="page-scroll"><a href="#sistemas2"> Empresas / Privados</a></li>
                                <li class="page-scroll"><a href="#sistemasWeb"> Desarrollos Web</a></li>
                            </ul>
                            </li>
                        </li>
                        <li class="page-scroll">
                            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{% static 'iconos/clients.png' %}" width="24" height="24"/> Clientes <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li class="page-scroll"><a href="#clientes"> Municipios</a></li>
                                <li class="page-scroll"><a href="#empresas"> Empresas / Privados</a></li>
                            </ul>
                            </li>

                        </li>
                        <li class="page-scroll">
                            <a href="#empresa"><img src="{% static 'iconos/about.png' %}" width="24" height="24"/> Quienes Somos</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#contacto"><img src="{% static 'iconos/contact.png' %}" width="24" height="24"/> Contacto</a>
                        </li>

                        <li class="">
                            <a href="#login" data-toggle="modal"><img src="{% static 'iconos/access.png' %}" width="24" height="24"/> Login</a>
                        </li>
                    {% else %}

                        <li class="page-scroll">
                            <a href="#recursos">Recursos</a>
                        </li>
                        {% if user.is_staff %}
                        <li class="page-scroll">
                            <a href="#listado">Listado</a>
                        </li>

                             <li class="page-scroll">
                                <a href="/admin/webpage/municipio/">ABMs Varios</a>
                            </li>
                         {% endif %}
                        <li class="">
                            <a href="/logout/">Salir</a>
                        </li>
                    {% endif %}

                </ul>
            </div>

        </div>

    </div>



