<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" charset="utf-8">
{% load static from staticfiles %}
<link rel="shortcut icon" type="image/png" href="{% static 'images/logo.png' %}">
<title>Grupo Guadalupe Sistemas</title>

<link href="http://fonts.googleapis.com/css?family=Gafata" rel="stylesheet" type="text/css">

<link href="{% static 'css/bootstrap/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/theme.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/bootstrap/css/bootstrap-responsive.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/bootstrap_modif.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet" type="text/css">


<script type="text/javascript" src="{% static 'css/bootstrap/js/jquery-1.11.0.js' %}"></script>
<script src="{% static 'css/bootstrap/js/html5shiv.min.js' %}" type="text/javascript"></script>
<script src="{% static 'css/bootstrap/js/html5shiv-printshiv.min.js' %}" type="text/javascript"></script>
<script src="{% static 'css/bootstrap/js/respond.min.js' %}" type="text/javascript"></script>

<script type="text/javascript" src="{% static 'css/bootstrap/js/bootstrap.js' %}"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script type="text/javascript" src="{% static 'js/grayscale.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.smint.js' %}"></script>

{% block extra_js %}
{% endblock %}

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
{% include "header.html" %}
    <div class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row-fluid">
                    <div class="col-md-8 col-md-offset-2">
                        <p class="intro-text">Soluciones de Software a medida...</p>
                        <div class="page-scroll">
                            <a href="#empresa" class="btn btn-circle">
                                <i class="fa fa-angle-double-down animated"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="servicios" class="content-section">
        <div class="servicios-section">
           <div class="container">
            {% include "servicios.html" %}
            </div>
        </div>
    </div>
    <div id="sistemas" >
            {% include "sistemas.html" %}
    </div>
    <div id="clientes" class="content-section">
       <div class="clientes-section">
        <div class="container">

           {% include "clientes.html" %}
        </div>
       </div>

    </div>

    <div id="empresa" class="content-section">
        <div class="empresa-section">
            <div class="container">
                {% include "empresa.html" %}
            </div>
        </div>
    </div>

    <div id="contacto" class="content-section">
        <div class="download-section">
            <div class="container">
                {% include "contacto.html" %}
            </div>
        </div>
    </div>



    {% include "modales.html" %}

</body>
</html>