<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
{% load static from staticfiles %}
<script>
var map
var service;
var infowindow;

function initialize() {

    var centro = new google.maps.LatLng(-31.6256, -60.699);


  var mapOptions = {
    zoom: 7,
    center: centro,
    zoomControl: true,
    draggable: true,
    mapTypeControlOptions: {
      style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
    },
    zoomControlOptions: {
      style: google.maps.ZoomControlStyle.SMALL
    },
    mapTypeId: google.maps.MapTypeId.HYBRID
  };

var image = {
    url: "{% static 'style/bandera-roja.png' %}",
    // This marker is 20 pixels wide by 32 pixels tall.
    size: new google.maps.Size(15, 27),
    // The origin for this image is 0,0.
    origin: new google.maps.Point(0,0),
    // The anchor for this image is the base of the flagpole at 0,32.
    anchor: new google.maps.Point(0, 27)
  };
  var shadow = {
    url: "{% static 'style/sombra-bandera2.png' %}",
    // The shadow image is larger in the horizontal dimension
    // while the position and offset are the same as for the main image.
    size: new google.maps.Size(32, 27),
    origin: new google.maps.Point(0,0),
    anchor: new google.maps.Point(0, 27)
  };




  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);


  infowindow = new google.maps.InfoWindow();


  {% for mark in muni %}
        var point = new google.maps.LatLng({{mark.position}});

            var marker = new google.maps.Marker({
            position: point,
            map: map,
            shadow: shadow,
            icon: image,
           title: '{{mark.pk}} - {{ mark.nombre }}',
        });
             marker['infowindow']  = new google.maps.InfoWindow({
                     content: "<br> {{ mark.nombre }} </br>",
        });

           google.maps.event.addListener(marker, 'mouseover', function() {
                // this['infowindow'].open(map, this);
                    });
           google.maps.event.addListener(marker, 'mouseout', function() {
                // this['infowindow'].close(map, this);

            });


        {% endfor %}

}

function callback(results, status) {
  if (status == google.maps.places.PlacesServiceStatus.OK) {
    for (var i = 0; i < results.length; i++) {
      var place = results[i];
      createMarker(results[i]);
    }
  }
}


function createMarker(place) {
  var placeLoc = place.geometry.location;
  var marker = new google.maps.Marker({
    map: map,
    position: place.geometry.location
  });

  google.maps.event.addListener(marker, 'click', function() {
    infowindow.setContent(place.name);
    infowindow.open(map, this);
  });


  }

google.maps.event.addDomListener(window, 'load', initialize);




</script>

<div class="title">
	                <h1>Municipios que confían en Nosotros...</h1>
	              </div>
                        <div class="col-md-3 listado_comunas">
                             <ul>
                                 {% for item in muni %}
                                    {% if not item.baja %}
                                       <li> <a onclick="map.setZoom(9);map.panTo(new google.maps.LatLng({{item.position}}));"><span class="badge" style="cursor:pointer">{{forloop.counter}}</span></a>
                                        {% if item.tipoMunicipio in "34" %}
                                            {{item.get_nombre|title}}
                                        {% else %}
                                           {{item.get_tipoMunicipio_display|title}} de {{item.get_nombre|title}}
                                        {% endif %}
                                        </li>
                                      {% if forloop.counter == 45 or forloop.counter == 85 %}
                                       </ul>
                                        </div>
                                        <div class="col-md-4 listado_comunas">
                                         <ul>
                                      {% endif %}
                                  {% endif %}
                                 {% endfor %}
                             </ul>
                        </div>
	          <div class="col-md-2">
	              <div id="map-canvas" class="mapaGG"></div>

	          </div>
