<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
{% load static from staticfiles %}

<link rel="stylesheet" href="{% static 'css/leaflet.css' %}" />
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>



                        <div class="col-md-4 listado_comunas">
                             <ul>
                                 {% for item in muni %}
                                    {% if not item.baja %}
                                       <li> <a onclick="map.setView([{{item.position}}], 13);"><span class="badge" style="cursor:pointer">{{forloop.counter}}</span></a>
                                        {% if item.tipoMunicipio in "34" %}
                                            {{item.get_nombre|title}}
                                        {% else %}
                                           {{item.get_tipoMunicipio_display|title}} de {{item.get_nombre|title}}
                                        {% endif %}
                                        </li>
                                      {% if forloop.counter == 45 or forloop.counter == 90 %}
                                       </ul>
                                        </div>
                                        <div class="col-md-4 listado_comunas">
                                         <ul>
                                      {% endif %}
                                  {% endif %}
                                 {% endfor %}
                             </ul>
                        </div>
	          <div class="col-md-2">
	              <div id="app_map" style="width:400px;height:700px" class="mapaGG"></div>

	          </div>

      <script>



                  // add an OpenStreetMap tile layer

                  //L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png').addTo(map);
                 mbUrl = 'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoianVtYWphIiwiYSI6IklTTHpYcGsifQ.27NfQaTQ1JrObvcQIsRc_w'

	        var grayscale   = L.tileLayer(mbUrl, {id: 'mapbox.streets'})
		    // streets  = L.tileLayer(mbUrl, {id: 'mapbox.streets-satellite'})

                var sudoeste = L.latLng(-20, -86);
                var noreste = L.latLng(-60, -36);
                var limites_mapa = L.latLngBounds(sudoeste, noreste);

                var map = L.map('app_map',
                  {
                    minZoom:6,
                    maxZoom:15,
                    maxBounds: limites_mapa,
                    layers: [grayscale]
                  }
                  ).setView([-31.1856, -61.119], 7);
                

		var LeafIcon = L.Icon.extend({
                        options: {
                            iconUrl: "{% static 'iconos/Sistemas2.png' %}",
                            iconSize:     [15, 15]
                        }
                    });
		
		{% for mark in muni %}
		var icono = new LeafIcon();
		L.marker([{{mark.position}}], {icon: icono,title:"{{mark.pk}} - {{ mark.nombre }}"}).addTo(map);
		{% endfor %}
		
	</script>