{% load static from staticfiles %}
<div class="subMenu" >
    	 <div class="inner">
    	 		<a href="#" id="sTop" class="subNavBtn"><img src="{% static 'iconos/home2.png' %}" width="22" height="26"  /><br>Inicio</a>
    			<a href="#" id="s1" class="subNavBtn"><img src="{% static 'iconos/Servicios2.png' %}" width="22" height="26"/><br>Servicios</a>
    			<a href="#" id="s2" class="subNavBtn"><img src="{% static 'iconos/Sistemas2.png' %}" width="22" height="26"/><br>Sistemas</a>
    			<a href="#" id="s3" class="subNavBtn"><img src="{% static 'iconos/Ref2.png' %}" width="22" height="26"/><br>Clientes</a>
    			<a href="#" id="s4" class="subNavBtn"><img src="{% static 'iconos/Servicios2.png' %}" width="22" height="26"/><br>Quienes Somos</a>
    			<a href="#" id="s5" class="subNavBtn end"><img src="{% static 'iconos/Contacto2.png' %}" width="22" height="26"/><br>Contacto</a>
    			
    	 </div>
</div>