{% load static from staticfiles %}

<div id="login" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="login">
 <div class="modal-content">
        <div class="modal-header">
         <h3><img src="{% static 'iconos/Sistemas2.png' %}" width="24" height="24"/> Ingreso de usuarios</h3>
        </div>
        <div class="modal-body">
            <form class="form-signin" action="/login/" method="post">
            {% csrf_token %}
            <input type="text" name="username" class="form-control" placeholder="Usuario" required autofocus>
            <input type="password" name="password" class="form-control" placeholder="Contraseña" required>
        </div>
        <div class="modal-footer">
            <button class="btn btn-lg btn-danger btn-block" name="login" type="submit">
                Ingresar</button>
            </form>
        </div>
  </div>
 </div>
</div>

<div id="modal_usuario" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="lblmodal_usuario" aria-hidden="true">
<div class="modal-dialog">
 <div class="modal-content">
    <div class="modal-header">
    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    	<h1>Información sobre el usuario: <b>{{ user.username|upper }}</b></h1>
    </div>

    <div class="modal-body">
    	<p>Nombre: <b>{{ user.get_full_name }}</b></p>
    	<p>Usuario: <b>{{ user.username }}</b></p>
    	<p>Último Acceso: <b>{{ user.last_login }}</b></p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
    </div>
 </div>
</div>
</div>

<div style="display:none">
 <div id="tadeseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <h4>Sistema de Tasas, Derechos y Servicios</h4>
        </div>
        <div class="modal-body">
         <div class="container">
            <div class="col-md-4">
               <img src="{% static 'images/capturas/tadese02.png' %}" width="160" height="140" />
               <img src="{% static 'images/capturas/tadese04.png' %}" width="160" height="140" />
               <img src="{% static 'images/capturas/tadese05.png' %}" width="160" height="140" />
               <img src="{% static 'images/capturas/tadese06.png' %}" width="160" height="140" />
               <img src="{% static 'images/capturas/tadese07.png' %}" width="160" height="140" />
               <img src="{% static 'images/capturas/tadese08.png' %}" width="160" height="140" />
               <img src="{% static 'images/capturas/tadese09.png' %}" width="160" height="140" />
            </div>
            <div class="col-md-7 panelModales">
              <p>Este subsistema tiene como principal característica el hecho de trabajar con una Clave Única por Contribuyente (C.U.C.), a los fines de conocer con una sola consulta la situación integral del mismo ante el Ente. Esto implica la posibilidad de identificar el historial de pagos y conjunto de deudas que pueda tener un vecino por los distintos tributos.<br />
              El código de barras utilizado en las boletas ya se encuentra homologado por el Banco de Santa Fe S.A. la red Link y otras entidades bancarias.<br />
              <br />
              <strong>BENEFICIOS PARA EL MUNICIPIO</strong><br />
              - Generar estadísticas grupales de pagos y deudas por períodos.<br />
              - Reportes por periodo.<br />
              - Control de cuotas.<br />
              - Control de deuda.<br />
              - Control financiero por periodo.<br />
              - Integridad en la información.<br />
              - Posibilidad de establecer niveles de acceso según funciones o responsables, con su correspondiente auditoria posterior.<br />
              - Brinda información útil para la elaboración de estrategias para el recupero de créditos.<br />
              - Permite diferenciar el domicilio legal del contribuyente y el del envío de la boleta (estudio contable, etc.).<br />
              - Generación de minuta diaria indicando recaudación por cada uno de los tributos, tasas y derechos, divididos por sus sub-conceptos.<br />
              <br />
              <strong>BENEFICIOS HACIA LA COMUNIDAD</strong><br />
              - Agilidad en la realización de trámites.<br />
              - Rapidez en la atención.<br />
              - Mayor información en boletas que se reciben.<br />
              - Mejor detalle de pagos y deudas.<br />
              - Posibilidad de consultas, reimpresión de boletas y pagos a través de Internet (opcional).<br />
              <br />
              <strong>MÓDULO DE TASA GRAL DE INMUEBLES URBANA SUBURBANA Y RURAL<br />
              EMISIÓN DE BOLETAS:</strong><br />
              - Generación de cuotas, en base a los datos de catastro. La emisión puede hacerse mensual, bimestral, trimestral, etc.<br />
              - Parámetros para el cálculo de las cuotas: Los mismos son utilizados en el cálculo de la cuota. El sistema permite hacer simulaciones de emisión. Los parámetros pueden ser:<br />
              + Valor m2 Terreno por Zona.<br />
              + Valor m lineal de frente por Zona.<br />
              + Valor m2 mejora por Categoría.<br />
              + Valores mínimos y máximos por Zona.<br />
              + Recargo baldío por Zona.<br />
              + Alícuota.<br />
              + Tasa por hectárea.<br />
              + Descuentos (jubilado, esquina, excentos)<br />
              + Cualquier otro parámetro establecido en la ordenanza respectiva.</p>
            <p> * <strong>Ajustes</strong><br />
              - Se utiliza para hacer todo tipo de rectificación sobre el importe de la cuota. Siempre queda detallado e identificado el usuario que ingresó la modificación, como mecanismo de control.<br />
            - Permite realizar pagos parciales de tributos.</p>
            <p> *<strong> Identificación de cuotas pagadas y adeudadas</strong><br />
              - Informa las cuotas canceladas de un padrón.<br />
              - Informa las cuotas adeudadas de un padrón.<br />
              - Posibilidad de desagregar al máximo la composición de la cuota según los distintos conceptos.<br />
            - Detalle de la forma de cancelación de cada cuota (pagos parciales, totales, ajustes, convenios, anulaciones, y otros).</p>
            <p> * <strong>Liquidación</strong><br />
              - Informa el estado de deuda de un padrón, se pueden cancelar en caja o formalizar un convenio.<br />
              - La deuda se visualiza con diferentes colores que definen el estado de las mismas (normal, en convenio o en gestión judicial).<br />
            - Se pueden realizar liquidaciones de deuda del total o parcial de padrones del contribuyente.</p>
            <p> <strong>MÓDULO DE CONTRIBUCIÓN POR MEJORAS</strong><br />
              - Permite la liquidación y re liquidación de boletas de contribución de Mejoras (iluminación, cordón cuneta, ripio, etc.)<br />
            - Permite la formalización y seguimiento de planes de pagos en cuotas.</p>
            <p> <strong>MÓDULO DE DERECHO DE REGISTRO E INSPECCIÓN</strong><br />
              - Permite el seguimiento detallado del estado de cuenta de cada contribuyente, como así también lleva el historial de todos los movimientos que el mismo realiza en la Municipalidad o Comuna.<br />
              - El sistema permite registrar la base imponible declarada y el pago correspondiente. Cada registro se encuentra detallado para una mejor interpretación y observación de la misma.<br />
              - Permite la clasificación de los contribuyentes en función de los criterios que se definan (Por Ej. Grandes, Medianos y Pequeños)<br />
              - Permite el cálculo actualizado de los períodos adeudados de acuerdo a la declaración jurada.<br />
            - Trabaja con el nomenclador de actividades del API, el cuál puede modificarse por el ente.</p>
            <p> * <strong>Grandes Contribuyentes</strong><br />
              - Permite un seguimiento diario de grandes contribuyentes del Derecho de Registro e Inspección.<br />
              - Brinda información para la toma de decisiones como por ej: compara el mes actual con el anterior, calcula estadísticas de pagos, etc.<br />
            - Se pueden enviar emails en forma automática desde el sistema para avisar el vencimiento de la cuota, la falta de pago o como así también un mensaje de agradecimiento por el pago de la misma (opcional).</p>
            <p> <strong>MÓDULO DE LIQUIDACIÓN DE SERVICIOS MEDIDOS<br />
              PRESTACIONES:</strong><br />
              - Permite la liquidación y re liquidación de diferentes servicios (agua, gas, etc)<br />
              - Permite la formalización y seguimiento de planes de pagos en cuotas.<br />
            - Calcula los montos a pagar en función de tablas con diferentes coeficientes de cálculo.</p>
            <p> <strong>MÓDULO DE TRIBUNAL DE  FALTAS</strong><br />
              - Formalizar planes de pago de deudas.<br />
              - Generación de Notificaciones de infracciones.<br />
              - Realizar liquidaciones de deuda.<br />
              - Consultar diferentes tipos de información (deudas por dominio, deudas por titular, etc.).<br />
              - Controlar y mejorar el proceso de otorgamiento del certificado de libre deuda de infracciones de transito.<br />
              - Realizar auditoria de la información modificada.<br />
              - Realizar el seguimiento de las actas en todo el circuito administrativo.<br />
            - Mantiene el historial de los propietarios de un dominio.</p>
            <p> <strong>MÓDULO DE CEMENTERIOS</strong><br />
              - Permite la liquidación y reliquidación de la Tasa de Panteón y la posterior registración de los pagos de la misma.<br />
              - Permite la formalización y seguimiento de planes de pagos en cuotas.<br />
              - Permite conocer la ubicación y disposición de nichos en las diferentes secciones del Cementerio. Esto hará que el contribuyente tenga una idea más clara de cuales son las opciones a su disposición. Permite el acceso en línea a toda la información necesaria a las distintas áreas de la administración de acuerdo a un régimen de permisos.<br />
            - Permite controlar que los trámites sólo puedan ser iniciados, si la persona responsable de los mismos, y el destinatario o fallecido, no registran deuda alguna por conceptos propios del Cementerio.</p>
            <p> <strong>MÓDULO DE CATASTRO</strong><br />
              - Permite la carga de inmuebles urbanos suburbanos y rurales asociándolos a su titular.<br />
              - Utiliza un nomenclador de calles, el cual tiene como objetivo la búsqueda, alta, baja y modificación de Calles, junto con sus respectivos tramos individuales.<br />
              - Búsqueda de Padrones mediante diferentes criterios (Nombre, documento y dirección del titular, ubicación inmueble, Nº ssonfeccionar convenios sumamente flexibles, incluyendo distintos conceptos, períodos y teniendo en cuenta la capacidad contributiva del vecino.<br />
              - Permite fácilmente calcular los intereses para el pago de cuotas de convenio atrasadas.<br />
            - Permite la anulación de los convenios que por distintas causales queden si efecto. Para lo cuál, en función de lo pagado, cancela automáticamente las cuotas y conceptos que correspondan.</p>
            <p> <strong>MÓDULO DE GESTION JUDICIAL</strong><br />
            - Permite la imputación de determinadas cuentas a cobrar en el presente agrupamiento, para su seguimiento de manera diferenciada.
            </p>
           </div>
          </div>
         </div>

 </div>


<div id="administrativoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <h4>Sistema de Gestión Administrativa Municipal</h4>
        </div>
        <div class="modal-body">
         <div class="container">
            <div class="col-md-4">
               <img src="{% static 'images/capturas/adm01.png' %}" width="160" height="140" />
               <img src="{% static 'images/capturas/adm02.png' %}" width="160" height="140" />
               <img src="{% static 'images/capturas/adm03.png' %}" width="160" height="140" />
               <img src="{% static 'images/capturas/adm04.png' %}" width="160" height="140" />
            </div>
            <div class="col-md-8">
              <p>
                <b>Prestaciones:</b><br />
                Registración del conjunto de operaciones del ente.<br />
                Ordenes de compra, provisión de materiales, concursos de precios y licitaciones, asociadas a las órdenes de pago para el control de su ejecución.<br />
                Carga de presupuestos.<br />
                Recibos de ingresos por los distintos conceptos.<br />
                Carga de compromisos de Proveedores.<br />
                Órdenes de Pago de egresos por los distintos conceptos.<br />
                Transferencias entre cuentas.<br />
                Permite realizar un control y seguimiento de cheques recibidos.<br />
                Libro de Banco / Conciliación Bancaria.<br />
                Balances e Informes presupuestarios con diferentes niveles de desagregación.<br />
                Preparado para trabajar con cheques de pago diferido.<br />
                Imputaciones a Centros de Costos.<br />
                Impresión de Cheques.<br />

                <br /><b>Presupuesto</b><br />
                Carga del presupuesto vigente.<br />
                Ejecuciones Presupuestarias en dos formatos, por lo devengado y/o por lo pagado.<br />
                Alertas sobre niveles de ejecución a los fines de realizar las modificaciones presupuestarias necesarias (parametrizable).<br />
                Posibilidad de presupuesto de centros de costos.<br />

                <br /><b>Proveedores</b><br />
                Cuentas corrientes de proveedores detalladas, con diferentes formas de visualización.<br />
                Seguimiento de compromisos por concepto de gasto.<br />

                <br /><b>Plan de Cuentas</b><br />
                Plan de cuentas de orígenes y aplicaciones de fondos.<br />
                Flexible, sobre la base de 6 niveles.<br />
                Permite utilizar cuentas de orden.<br />


                <br /><b>Emisión de Informes (parametrizables) para la toma de decisiones y control.</b><br />
                Parte diario de caja (o periódico).<br />
                Fecha de apertura y de cierre.<br />
                Saldo anterior.<br />
                Detalle de ingresos y egresos.<br />
                Movimientos cancelados.<br />
                Saldo final.<br />
                Arqueo o detalle de la composición del saldo final.<br />
                Desagregación de saldos por cuentas.<br />
                Monto de compromisos o pagos a futuro.<br />
                Firma del responsable.<br />
                Balance de Ingresos y Gastos.<br />
                De acuerdo a la normativa vigente.<br />
                Se puede solicitar tanto por lo pagado como por lo devengado.<br />
                Control automático sobre saldos de proveedores del periodo del balance.<br />

                <br /><b>Otros informes operativos</b><br />
                Órdenes de pago / compromisos.<br />
                Recibos / detalle de Ingresos.<br />
                Informes presupuestarios.<br />
                Informes de detalle de disponibilidades.<br />
                Saldos cuentas corrientes.<br />


                <br /><b>Sistema de Inventario permanente</b><br />
                Asociado a las órdenes de compra.<br />
                Detalle del equipamiento del ente.<br />
                Descripción.<br />
                Ubicación.<br />
                Estado.<br />
                Período de garantía.<br />
                Etc.<br />


                <br /><b>Asistente de conciliaciones bancarias</b><br />
                Identificación de movimientos conciliados y no conciliados.<br />
                Calculo de saldo conciliado partiendo del saldo bancario.<br />
              </p>
           </div>
          </div>
        </div>
</div>

<div id="sueldosModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <h4>Sistema de Sueldos y Jornales</h4>
        </div>
        <div class="modal-body">
         <div class="container">
            <div class="col-md-4">
               <img src="{% static 'images/capturas/sueldos1.jpg' %}" width="160" height="140" />
               <img src="{% static 'images/capturas/sueldos2.jpg' %}" width="160" height="140" />
               <img src="{% static 'images/capturas/sueldos3.jpg' %}" width="160" height="140" />
               <img src="{% static 'images/capturas/sueldos4.jpg' %}" width="160" height="140" />
            </div>
            <div class="col-md-8">
              <p>
                Es un sistema completo que permite realizar liquidaciones tanto individuales como masivas,
                cargar novedades y anticipos, impresión de recibos y una amplia variedad de reportes.<br />
                . Configuración de Conceptos a liquidar (Hab. c/Ap, Hab. s/Ap. y Descuentos).<br />
                . Configuración de Categorías de cobro / Funciones y Cargos.<br />
                . Carga de Empleados y sus Funciones en la Comuna, datos de Inscripción en la misma, cuenta bancaria.<br />
                . Carga de Categorías / Conceptos / Asignaciones Familiares.<br />
                . Carga de Novedades.<br />
                . Liquidación de Anticipos (comprobante) y su medio de pago (efectivo/deposito/cheque).<br />
                . Liquidación de Sueldo MENSUAL/AGUINALDO/VACACIONES (comprobante) y su medio de pago (efectivo/deposito/cheque).<br />
                . Impresión de Recibos.<br />
                . Algunos Reportes que posee el sistema: (Jubilación - IAPOS - ART - FESTRAM - Reporte de Banco (Cuentas a Depositar los Sueldos) - Reportes Totales Varios)
              </p>
           </div>
          </div>
        </div>

</div>

<div id="callcenterModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <h4>Sistema de Atención de Reclamos - Callcenter</h4>
        </div>
        <div class="modal-body">
         <div class="container">
            <div class="col-md-4">
               <img src="{% static 'images/capturas/callcenter1.jpg' %}" width="160" height="140" />
               <img src="{% static 'images/capturas/callcenter2.jpg' %}" width="160" height="140" />
               <img src="{% static 'images/capturas/callcenter3.jpg' %}" width="160" height="140" />
            </div>
            <div class="col-md-8">
              <p>
                - El sistema permite registrar los reclamos telefónicos que realizan los ciudadanos, tipificándolos y asignándoles un número identificatorio.<br />
                - Se derivan informes automáticos periódicos a las distintas dependencias con un detalle del pedido.<br />
                - Permite registrar el resultado del reclamo.<br />
                - Permite armar un mecanismo de comunicación posterior con el vecino a los fines de informarle que el problema  ha sido solucionado y relevar el grado de conformidad del mismo.<br />
                - Mediante este sistema se pueden obtener estadísticas de la cantidad de reclamos solucionados y pendientes, además de poder realizar un análisis de los tipos de reclamos que con frecuencia realizan los contribuyentes y la eficiencia de las distintas dependencias en respuesta a los reclamos recibidos.<br />
                - Estadísticas de la cantidad de reclamos solucionados y pendientes.<br />
                <br /><b>
                BENEFICIOS PARA EL MUNICIPIO</b><br />
                - Permite centralizar en una única base de datos los distintos reclamos que se reciben de los vecinos.<br />
                - Se pueden agrupar los distintos tipos de reclamos a los fines de analizar las mayores necesidades y la importancia relativa que le asignan los vecinos a los distintos problemas.<br />
                - Mejora el seguimiento de la solución de los problemas o reclamos.<br />
                - Es una herramienta útil para medir la eficiencia de las distintas áreas en la atención y solución de los problemas.<br />
                - Genera en el vecino la percepción que su reclamo está siendo escuchado y se encuentra en vías de solución.<br />
                <br /><b>
                BENEFICIOS HACIA LA COMUNIDAD</b><br />
                - Se le brinda un medio único a través del cuál pueda canalizar sus reclamos hacia el Municipio o Comuna.<br />
                - Puede a través de un número de reclamo, seguir la evolución del mismo, hasta su resolución.<br />
              </p>
           </div>
          </div>
        </div>
</div>

<div id="cajeroModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <h4>Sistema de Caja - Cobranzas</h4>
        </div>
        <div class="modal-body">
         <div class="container">
            <div class="col-md-4">
               <img src="{% static 'images/capturas/caja1.jpg' %}" width="160" height="140" />
               <img src="{% static 'images/capturas/caja2.jpg' %}" width="160" height="140" />
               <img src="{% static 'images/capturas/caja3.jpg' %}" width="160" height="140" />
               <img src="{% static 'images/capturas/caja4.jpg' %}" width="160" height="140" />
            </div>
            <div class="col-md-8">
              <p>
               <b>Permite:</b><br />
                - Cobranza de las boletas y Liquidaciones emitidas con el sistema TaDeSe.<br />
                - Procesamiento de archivos emitidos por entidades Bancarias y/o Mutuales (según convenio).<br />
                - Reportes tales como Arqueo Diario, Listados por Fecha de Cobro/Pago, Origen según cuenta, etc.<br />
                - Emisión de comprobantes de Cobro.<br />
              </p>
           </div>
          </div>
        </div>
</div>

<div id="webModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <h4>Módulo de Liquidación Web</h4>
        </div>
        <div class="modal-body">
         <div class="container">
            <div class="col-md-4">
               <img src="{% static 'images/capturas/web1.jpg' %}" width="160" height="140" />
               <img src="{% static 'images/capturas/web2.jpg' %}" width="160" height="140" />
               <img src="{% static 'images/capturas/web3.jpg' %}" width="160" height="140" />
            </div>
            <div class="col-md-8">
              <p>
               <b>Permite:</b><br />
                - El acceso a la cta. cte. de cada contribuyente (detalle del estado de la misma).<br />
                - La impresión/reliquidación de cualquier boleta vencida o sin vencer, calculando los punitorios al día de la fecha.<br />
                - Gestión de tramites relacionados al Municipio.<br />
                - A través de convenios con la red Link o Banelco, permite el pago de la boleta por internet.<br />
                - Liquidación online de la boleta de DReI por contribuyente o por Estudio Jurídico.<br />
                - Reajuste de boletas de DReI.<br /><br />
                <b>Observación:</b><br />
                Cabe aclarar que el servicio de hosting (alojamiento del sitio en Internet) requerido para poder implementar esta funcionalidad es provisto también por la empresa, desligando al Municipio de adquirir o armar un servidor Web en sus instalaciones con el costo que ello implica.

              </p>
           </div>
          </div>
        </div>
</div>
<div id="expedientesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <h4>Sistema de Seguimiento de Expedientes</h4>
        </div>
        <div class="modal-body">
         <div class="container">
            <div class="col-md-4">
               <img src="{% static 'images/capturas/expedientes1.jpg' %}" width="160" height="140" />
               <img src="{% static 'images/capturas/expedientes2.jpg' %}" width="160" height="140" />
               <img src="{% static 'images/capturas/expedientes3.jpg' %}" width="160" height="140" />
            </div>
            <div class="col-md-8">
              <p>
               <b>Permite:</b><br>
                Carga del expediente, identificándolo con una numeración, e incorporando las distintas áreas que intervienen en el mismo. <br>
                Relevamiento de las temáticas tratadas, los informes incluidos y las fojas y/o cuerpos que se incluyen en cada área.<br>
                Obtener estadísticas sobre tiempos de tramitaciones de cada expediente.<br>
                Impresión de informes detallados del circuito administrativo seguido de cada actuación.<br>
                 <b>BENEFICIOS PARA EL MUNICIPIO </b><br>
                Permite realizar un seguimiento on line de los expedientes tramitados en el Municipio o Comuna, conociendo permanentemente la ubicación física del mismo.<br>
                Permite identificar los tiempos de respuesta de cada área en la tramitación,  respuesta o informe de cada expediente, a los fines de mejorar la eficiencia de la gestión.<br>
                <b>BENEFICIOS HACIA LA COMUNIDAD</b><br>
                Asegura un mejor seguimiento de las tramitaciones que sean iniciadas o tengan que ver con los contribuyentes.
              </p>
           </div>
          </div>
        </div>
</div>

</div>