{% load static from staticfiles %}
<div class="inner">
   <div class="title"><h1>Lo que hacemos...</h1></div>
       <div class="col-md-7">
       <p class="texto">
       Nuestra empresa con sede en la ciudad de Santa Fe, está dedicada al desarrollo de Software a
       medida, cubriendo el mismo desde su relevamiento hasta su puesta en marcha y capacitación.
       El servicio de post-venta se realiza de manera personalizada, brindando soporte
       tanto en la instalación y puesta en marcha, como en la etapa de utilización del sistema,
       lo que asegura altos niveles de satisfacción en nuestros clientes.<br>
       </p>
       </div>
       <div  class="col-md-4">
        <img  style="display:block;margin:0 auto 0 auto;" src="{% static 'images/fondos/personas.png' %}">
       </div>

</div>