{% load static from staticfiles %}
<div class="content-section">
<p />
</div>
<div class="aws aws-pattern">
                <p>Sistema Integral de Municipios y Comunas (SIMyC)</p>
</div>
<div class="content-section">
            <div class="container">
                       <div class="col-md-6">
                            <p>
                            El <b>“SISTEMA INTEGRAL PARA MUNICIPIOS Y COMUNAS”</b> es un sistema de gestión integrado, multiusuario, con módulos Web y una importante gamma de servicios tanto para el municipio como para el ciudadano, transformándose en una herramienta poderosa e indispensable para la gestión moderna de los Municipios y Comunas.<br>
                            Partiendo de una estructura o sistema de base y dada la flexibilidad que el sistema posee, éste es adaptable a las características y necesidades propias de cada Cliente.<br>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>
                            Nuestro sistema se encuentra homologado por diferentes entidades bancarias, tales como Banco Nación, Banco Credicoop y Nuevo Banco de Santa Fe S.A., Red Link, BANELCO, entre otras, para el cobro a través del código de barras generado en las boletas de TASAS, DERECHOS Y SERVICIOS, tanto en la emisión desde el Municipio como por Internet.<br>
                            </p>

                        </div>
            </div>
            <div class="container">
                       <div class="col-md-12">
                             <p>
                            <h5><b>Comercialización</b></h5>
                            La empresa, a los fines de facilitar el acceso a todos los Municipios y Comunas, provee e instala el “SISTEMA INTEGRAL PARA MUNICIPIOS Y COMUNAS” mediante un abono mensual que variará en función de la cantidad de contribuyentes y de los subsistemas a instalar, <b>sin costo inicial</b> por la provisión del mismo.<br>
                            </p>
                        </div>
            </div>
                        <div class="container">
				<div class="col-md-3">
					<div class="thumbnail">
						<img  alt="300x200" src="{% static 'images/sistemas/tadese.png' %}"/>
						<div class="caption">
							<h3>
								TaDeSe
							</h3>
							<p>
				                                    <b>Sistema de Tasas, Derechos y Servicios</b><br>
				                                    Permite la emisión, liquidación e impresión de boletas de TGI, Contribución de Mejoras, DReI, Servicios, Cementerio, Tribunal de Faltas, Convenios y Conceptos Varios.
							</p>
							</div>
							<div class="verMas">
							<p>
								<a class="btn-sm btn-primary" href="#tadeseModal" id="tadese">Ver más...</a>
							</p>
							</div>
						
					</div>
				</div>
				<div class="col-md-3">
					<div class="thumbnail">
						<img alt="300x200" src="{% static 'images/sistemas/adm.png'%}"/>
						<div class="caption">
							<h3>
								Administrativo Municipal
							</h3>
							<p>
				                                    <b>Sistema de Administración Municipal</b><br>
				                                    Permite la administración y gestión contable del municipio mediante la generación de órdenes de pago,recibos y transferencia entre cuentas.
							</p>
							</div>
							<div class="verMas">
							<p>
								<a class="btn-sm btn-primary" href="#administrativoModal" id="administrativo">Ver más...</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="thumbnail">
						<img alt="300x200" src="{% static 'images/sistemas/sueldos.png'%}" />
						<div class="caption">
							<h3>
								Sueldos y Jornales
							</h3>
							<p>
								<b>Sistema de Sueldos</b><br>
				                                    Permite realizar liquidaciones tanto individuales como masivas, cargar novedades y anticipos, impresión de recibos, amplia variedad de reportes y archivos de salida (Municipio/Banco).
							</p>
							</div>
							<div class="verMas">
							<p>
								<a class="btn-sm btn-primary" href="#sueldosModal" id="sueldos">Ver más...</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="thumbnail">
						<img alt="300x200" src="{% static 'images/sistemas/callcenter.png'%}"/>
						<div class="caption">
							<h3>
								Reclamos / Callcenter
							</h3>
							<p>
								<b>Sistema Callcenter</b><br>
				                                    El sistema permite registrar los reclamos telefónicos que realizan los ciudadanos, tipificándolos y asignándoles un número identificatorio.
							</p>
							</div>
							<div class="verMas">
							<p>
								<a class="btn-sm btn-primary" href="#callcenterModal" id="callcenter">Ver más...</a>
							</p>
						</div>
					</div>
				</div>
			
		</div>
		
                  <div class="container">

				<div class="col-md-3">
					<div class="thumbnail">
						<img alt="300x200" src="{% static 'images/sistemas/caja.png'%}" />
						<div class="caption">
							<h3>
								Caja / Cobranzas
							</h3>
							<p>
								<b>Sistema de Caja</b><br>
				                                    Sistema de cobranza, permite el cobro de boletas tanto en el Municipio como en Mutuales, importación de archivos de Entidades Bancarias, emisión de minutas de pago, etc..
							</p>
							</div>
							<div class="verMas">
							<p>
								<a class="btn-sm btn-primary" href="#cajeroModal" id="cajero">Ver mas...</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="thumbnail">
						<img alt="300x200" src="{% static 'images/sistemas/adm.png'%}" />
						<div class="caption">
							<h3>
								Administrativo Comunal
							</h3>
							<p>
								<b>Sistema de Administración Comunal</b><br>
				                                    Permite la administración y gestión contable del municipio mediante la generación de órdenes de pago,recibos y transferencia entre cuentas.
							</p>
							</div>
							<div class="verMas">
							<p>
								<a class="btn-sm btn-primary" href="#administrativoModal" id="comunas">Ver más...</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="thumbnail">
						<img alt="300x200" src="{% static 'images/sistemas/expedientes.png'%}"/>
						<div class="caption">
							<h3>
								Expedientes
							</h3>
							<p>
								<b>Sistema de Seguimiento de Expedientes</b><br>
				                                    Permite el seguimiento de expedientes dentro del Municipio (ubicación, estado y tiempos ociosos).
							</p>
							</div>
							<div class="verMas">
							<p>
								<a class="btn-sm btn-primary" href="#expedientesModal" id="expedientes">Ver más...</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="thumbnail">
						<img alt="300x200" src="{% static 'images/sistemas/web.png'%}"/>
						<div class="caption">
							<h3>
								Módulo Liquidación Web
							</h3>
							<p>
								<b>Sistema de Liquidación Web</b><br>
				                                    Servicio para el Contribuyente y Estudios Contables que permite la emisión, liquidación e impresión de boletas on-line.
							</p>
							</div>
							<div class="verMas">
							<p>
								<a class="btn-sm btn-primary" href="#webModal" id="web">Ver más...</a>
							</p>
						</div>
					</div>
				</div>

            </div>


</div>


<div id="sistemas2" class="content-section">
<p />
</div>
<div class="aws aws-pattern2 ">
                <p>Sistemas Personalizados & Llave en mano</p>
</div>
<div class="content-section">

                        <div class="container">
				<div class="col-md-3">
					<div class="thumbnail">
						<img alt="300x200" src="{% static 'images/sistemas/web.png'%}" />
						<div class="caption">
							<h3 class="text-center">
								Administración Colegios
							</h3>
							<p>
								<b>Colegio de Terapistas Ocupacionales Prov. Santa Fé</b><br>
				                                    Sistema de Gestión de Colegios y sus afiliados.
							</p>
							</div>
							<div class="verMas">
							<p>
								<a class="btn-sm btn-primary" href="mailto:contacto@grupoguadalupe.com.ar" id="terapistas">Ver mas...</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="thumbnail">
						<img alt="300x200" src="{% static 'images/sistemas/web.png'%}" />
						<div class="caption">
							<h3 class="text-center">
								GeAdCon
							</h3>
							<p>
								<b>Gestión y Administración de Consorcios y Fideicomisos</b><br>
				                                    Sistema de Gestión y Administración de Consorcios, emisión y cobranza de Alquileres,Expensas y Fideicomisos.
							</p>
							</div>
							<div class="verMas">
							<p>
								<a class="btn-sm btn-primary" href="mailto:contacto@grupoguadalupe.com.ar" id="geadcon">Ver mas...</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="thumbnail">
						<img alt="300x200" src="{% static 'images/sistemas/web.png'%}" />
						<div class="caption">
							<h3 class="text-center">
								Gestión Transportes
							</h3>
							<p>
								<b>Administración para Empresas de Transporte de Cargas</b><br>
				                                    Sistema de Administración para Empresas de Transporte de Cargas.
				                                    Liquidación de Viajes, Sueldos y optimización de rutas.
							</p>
							</div>
							<div class="verMas">
							<p>
								<a class="btn-sm btn-primary" href="mailto:contacto@grupoguadalupe.com.ar" id="camiones">Ver mas...</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="thumbnail">
						<img alt="300x200" src="{% static 'images/sistemas/web.png'%}" />
						<div class="caption">
							<h3 class="text-center">
								Gestión, Control de Stock y Facturación
							</h3>
							<p>
								<b>Mutual Caja de Ingeniería de Santa Fé</b><br>
				                                    Sistema de Gestión de Mutuales y sus afiliados. Descuentos por Obras Sociales.
				                                    Venta, control de Stock y Facturación de Productos y Servicios.
				                                    Ordenes Técnicas enviadas a Laboratorios.
							</p>
							</div>
							<div class="verMas">
							<p>
								<a class="btn-sm btn-primary" href="mailto:contacto@grupoguadalupe.com.ar" id="sigefa">Ver mas...</a>
							</p>
						</div>
					</div>
				</div>
				
				
			
		</div>
		<div class="container">
				<div class="col-md-3">
					<div class="thumbnail">
						<img alt="300x200" src="{% static 'images/sistemas/web.png'%}" />
						<div class="caption">
							<h3 class="text-center">
								Gestión Gimnasios
							</h3>
							<p>
								<b>Gestión de Gimnasios y Actividades - Pilates Plaza</b><br>
				                                    Sistema de Gestión, Emisión de Cuotas y Cobranza de Gimnasios y Actividades tales como Pilates, Box, rpm, etc.
							</p>
							</div>
							<div class="verMas">
							<p>
								<a class="btn-sm btn-primary" href="mailto:contacto@grupoguadalupe.com.ar" id="gimnasios">Ver mas...</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="thumbnail">
						<img alt="300x200" src="{% static 'images/sistemas/web.png'%}" />
						<div class="caption">
							<h3 class="text-center">
								Administración y Control de Empleados
							</h3>
							<p>
								<b>Cámara de Diputados de Santa Fé</b><br>
				                                    Sistema de Gestión y Administración de Empleados (Legajos, Licencias, Vacaciones, Antigüedad, etc).
							</p>
							</div>
							<div class="verMas">
							<p>
								<a class="btn-sm btn-primary" href="mailto:contacto@grupoguadalupe.com.ar" id="camara">Ver mas...</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="thumbnail">
						<img alt="300x200" src="{% static 'images/sistemas/web.png'%}" />
						<div class="caption">
							<h3 class="text-center">
								GECOM
							</h3>
							<p>
								<b>Gestión Comercial - Facturación Electrónica</b><br>
				                    El “SISTEMA GECOM” es un sistema, multiusuario, orientado a la gestión comercial,
									que permite agilizar la administracion de la entidad.Permite agilizar la facturación, control de stock
									y compras hechas por el negocio. Factura electrónica, remitos, administra clientes, genera automáticamente
									libros de IVA.
							</p>
							</div>
							<div class="verMas">
							<p>
								<a class="btn-sm btn-primary" href="mailto:contacto@grupoguadalupe.com.ar" id="gecom">Ver mas...</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="thumbnail">
						<img alt="300x200" src="{% static 'images/sistemas/web.png'%}" />
						<div class="caption">
							<h3 class="text-center">
								Sistema IRON
							</h3>
							<p>
								<b>Facturación Electrónica</b><br>
				                                    El “SISTEMA IRON DE FACTURACION ELECTRONICA” es un sistema multiusuario,
									que permite agilizar la comunicación con AFIP permitiendo hacer la facturación electrónica
									rápida y sencilla, ya sea de manera individual o varios recibos (lote) a la vez. Vista previa de Facturas sin autorización.
							</p>
							</div>
							<div class="verMas">
							<p>
								<a class="btn-sm btn-primary" href="mailto:contacto@grupoguadalupe.com.ar" id="iron">Ver mas...</a>
							</p>
						</div>
					</div>
				</div>
				
			
		</div>
		
</div>
<div id="sistemasWeb" class="content-section">
<p />
</div>
<div class="aws aws-pattern3">
                <p>Desarrollos Web - Páginas Personales & Empresariales</p>
</div>
<div class="content-section">
        <div class="container">
				<div class="col-md-3">
				       <a href="http://www.santafepolimeros.com.ar" target="_blank">
				        <div class="logoWeb" id="web_sfp" title="Santa Fé Polímeros" rel="web_sfp"
				           data-placement="bottom" data-toggle="tooltip">
				           <img  class="img-responsive img-center grises"
				           src="{% static 'images/sistemas/web_sfp.jpg' %}" >
                                            </div>
                                           </a>
				</div>
				<div class="col-md-3">
				       <a href="http://www.complejoturistico.com.ar" target="_blank">
				        <div class="logoWeb" id="web_complejo" title="Complejo Cabañas del Sol" rel="web_complejo"
				           data-placement="bottom" data-toggle="tooltip">
				           <img  class="img-responsive img-center grises"
				           src="{% static 'images/sistemas/web_complejo.jpg' %}" >
                                            </div>
                                           </a>
				</div>
				<div class="col-md-3">
				       <a href="http://www.fiolsrl.com.ar" target="_blank">
				        <div class="logoWeb" id="web_fiol" title="Constructora Fiol S.R.L." rel="web_fiol"
				           data-placement="bottom" data-toggle="tooltip">
				           <img  class="img-responsive img-center grises"
				           src="{% static 'images/sistemas/web_fiol.jpg' %}" >
                                            </div>
                                           </a>
				</div>
				<div class="col-md-3">
				       <a href="http://www.stcomputacion.com.ar" target="_blank">
				        <div class="logoWeb" id="web_st" title="ST Computación" rel="web_st"
				           data-placement="bottom" data-toggle="tooltip">
				           <img  class="img-responsive img-center grises"
				           src="{% static 'images/sistemas/web_st.jpg' %}" >
                                            </div>
                                           </a>
				</div>
		</div>
		<div class="container">
				<div class="col-md-3 ">
				       <a href="http://www.christenyesquivel.com.ar" target="_blank">
				        <div class="logoWeb" id="web_chye" title="Christen & Esquivel" rel="web_chye"
				           data-placement="bottom" data-toggle="tooltip">
				           <img  class="img-responsive img-center grises"
				           src="{% static 'images/sistemas/web_chye.jpg' %}" >
                                            </div>
                                           </a>
				</div>
				<div class="col-md-3 ">
				       <a href="http://www.mundonovedades.com.ar/" target="_blank">
				        <div class="logoWeb" id="web_mundo" title="Mundo Novedades" rel="web_mundo"
				           data-placement="bottom" data-toggle="tooltip">
				           <img  class="img-responsive img-center grises"
				           src="{% static 'images/sistemas/web_mundo.jpg' %}" >
                                            </div>
                                           </a>
				</div>
				<div class="col-md-3 ">
				       <a href="http://www.cayasta.gov.ar/" target="_blank">
				        <div class="logoWeb" id="web_cayasta" title="Comuna de Cayastá" rel="web_cayasta"
				           data-placement="bottom" data-toggle="tooltip">
				           <img  class="img-responsive img-center grises"
				           src="{% static 'images/sistemas/web_cayasta.jpg' %}" >
                                            </div>
                                           </a>
				</div>
				<div class="col-md-3 ">
				       <a href="http://www.santarosacalchines.gov.ar" target="_blank">
				        <div class="logoWeb" id="web_srosa" title="Comuna de Santa Rosa de Calchines" rel="web_srosa"
				           data-placement="bottom" data-toggle="tooltip">
				           <img  class="img-responsive img-center grises"
				           src="{% static 'images/sistemas/web_srosa.jpg' %}" >
                                            </div>
                                           </a>
				</div>		
		</div>
		<div class="container">
				<div class="col-md-3 ">
				       <a href="http://www.sanjavier.gob.ar" target="_blank">
				        <div class="logoWeb" id="web_sanjavier" title="Municipalidad de San Javier" rel="web_sanjavier"
				           data-placement="bottom" data-toggle="tooltip">
				           <img  class="img-responsive img-center grises"
				           src="{% static 'images/sistemas/web_sanjavier.jpg' %}" >
                                            </div>
                                           </a>
				</div>
				<div class="col-md-3 ">
				       <a href="http://www.calchaqui.gob.ar/" target="_blank">
				        <div class="logoWeb" id="web_calchaqui" title="Municipalidad de Calchaquí" rel="web_calchaqui"
				           data-placement="bottom" data-toggle="tooltip">
				           <img  class="img-responsive img-center grises"
				           src="{% static 'images/sistemas/web_calchaqui.jpg' %}" >
                                            </div>
                                           </a>
				</div>
				<div class="col-md-3 ">
				       <a href="http://www.ataliva.gob.ar/" target="_blank">
				        <div class="logoWeb" id="web_ataliva" title="Comuna de Ataliva" rel="web_ataliva"
				           data-placement="bottom" data-toggle="tooltip">
				           <img  class="img-responsive img-center grises"
				           src="{% static 'images/sistemas/web_ataliva.jpg' %}" >
                                            </div>
                                           </a>
				</div>
				<div class="col-md-3 ">
				       <a href="http://www.frayluisbeltran.gov.ar" target="_blank">
				        <div class="logoWeb" id="web_fbeltran" title="Municipalidad de Fray Luis Beltrán" rel="web_fbeltran"
				           data-placement="bottom" data-toggle="tooltip">
				           <img  class="img-responsive img-center grises"
				           src="{% static 'images/sistemas/web_fbeltran.jpg' %}" >
                                            </div>
                                           </a>
				</div>		
		</div>

</div>

<script>
$('#web_chye').tooltip();
$('#web_complejo').tooltip();
$('#web_fiol').tooltip();
$('#web_sfp').tooltip();
$('#web_st').tooltip();
$('#web_mundo').tooltip();
$('#web_cayasta').tooltip();
$('#web_srosa').tooltip();
$('#web_sanjavier').tooltip();
$('#web_calchaqui').tooltip();
$('#web_ataliva').tooltip();
$('#web_fbeltran').tooltip();
</script>