<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" charset="utf-8">
{% load static from staticfiles %}
<link rel="shortcut icon" type="image/png" href="{% static 'images/logo.png' %}">
<title>Grupo Guadalupe Sistemas</title>

<link href="http://fonts.googleapis.com/css?family=Istok+Web:400,700,400italic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Carme" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Gafata" rel="stylesheet" type="text/css">

<link href="{% static 'css/bootstrap/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/theme.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/bootstrap/css/bootstrap-responsive.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/bootstrap_modif.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/table.css' %}" rel="stylesheet" type="text/css" >

<script src="{% static 'css/bootstrap/js/jquery-1.11.0.js'%}"  type="text/javascript"></script>
<script src="{% static 'css/bootstrap/js/html5shiv.min.js' %}" type="text/javascript"></script>
<script src="{% static 'css/bootstrap/js/html5shiv-printshiv.min.js' %}" type="text/javascript"></script>
<script src="{% static 'css/bootstrap/js/respond.min.js' %}" type="text/javascript"></script>

<script type="text/javascript" src="{% static 'css/bootstrap/js/bootstrap.js' %}"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script type="text/javascript" src="{% static 'js/grayscale.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.smint.js' %}"></script>
<script src="{% static 'js/sorttable.js' %}" type="text/javascript"></script>

{% block extra_js %}
{% endblock %}

</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
{% include "header.html" %}

    <div id="recursos" >
           <div class="container">
            {% include "administracion/recursos.html" %}
        </div>
    </div>
    {% if user.is_staff %}
    <div id="listado" class="content-section" >
           <div class="container">
           {% block listado %}
           {% endblock %}
        </div>
    </div>
    {% endif %}




</body>
</html>