{% extends "administracion/index.html" %}
{% block listado %}
 <div class="col-md-10">
    {% block titulo %}
    {% endblock %}
    <div class="datagrid">
    <table class="sortable">
    <thead>
    	<tr class="alert">
    		{% block encabezado %}
    		{% endblock %}
    		<th>
    		</th>
    	</tr>
    </thead>
    <tbody>
    	{% for item in object_list %}
    	<tr>
    		{% block fila %}
    	  	{% endblock %}
    		<td>
    		  {% block botones_edicion_fila %}
                        {% endblock %}
    		</td>  	
    	</tr>
      	{% endfor %}
      	
    </tbody>
    </table>
    </div>
                <div class="listado-pie">
                  <b>{{object_list.count}}</b> resultados encontrados.
                </div>
</div>
{% endblock %}