{% extends "administracion/listado.html" %}
        {% block titulo %}

            <h3>Listado Completo de Municipios</h3>

        {% endblock %}

	{% block encabezado %}
		<th>Código</th>
                  <th>Nombre</th>
		<th>Tipo Municipio</th>
		<th>Comisión</th>
		<th>Usa la Web</th>
		<th>Links</th>


	{% endblock %}

	{% block fila %}
		<td>{{item.codigo}}</td>
		<td>{{ item.nombre }}</td>
		<td>{{ item.get_tipoMunicipio_display }}</td>
		<td>{{ item.comisionado |yesno:"Si,No" }}</td>
		<td>{{ item.usaWeb|yesno:"Si,No"}}</td>
		<td>{% if item.usaWeb %}
		   <span class="badge2"><a href="http://www.boletaweb.com.ar/municipios/consultapadrones.php?id={{ item.codigo }}">Contribuyentes</a></span>
		    <span class="badge2"><a href="http://www.boletaweb.com.ar/municipios/estudios.php?id={{ item.codigo }}">Estudios</a></span>
		   {% endif %}
		</td>

  	{% endblock %}
  	
  	{% block botones_edicion_fila %}

         {% endblock %}
