<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
{% load static from staticfiles %}

<link rel="stylesheet" href="{% static 'css/leaflet.css' %}" />
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>


      <script>

                var sudoeste = L.latLng(-20, -86);
                var noreste = L.latLng(-60, -36);
                var limites_mapa = L.latLngBounds(sudoeste, noreste);

                map = L.map('app_map',
                  {
                    minZoom: 4,
                    maxZoom:13,
                    maxBounds: limites_mapa
                  }
                  ).setView([-31.1856, -61.119], 7);

                  // add an OpenStreetMap tile layer
                  L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png').addTo(map);

                var popup = L.popup();

                function onMapClick(e) {
			popup
				.setLatLng(e.latlng)
				.setContent("LatLong: " + e.latlng.toString())
				.openOn(map);
		}

		map.on('click', onMapClick);
		
		var LeafIcon = L.Icon.extend({
                        options: {
                            iconUrl: "{% static 'iconos/Sistemas2.png' %}",
                            shadowUrl: "{% static 'iconos/Sistemas3.png' %}",
                            iconSize:     [15, 15],
                            shadowSize:   [18, 35]
                        }
                    });
		
		{% for mark in muni %}
		var icono = new LeafIcon();
		L.marker([-31.1856, -61.119], {icon: pibe}).addTo(map).bindPopup("Soy un pibin.");
		{% endfor %}
		
	</script>

<div class="title">
    <h1>Municipios que confían en Nosotros...</h1>
</div>
                        <div class="col-md-3 listado_comunas">
                             <ul>
                                 {% for item in muni %}
                                    {% if not item.baja %}
                                       <li> <a onclick="map.setZoom(9);map.panTo(new google.maps.LatLng({{item.position}}));"><span class="badge" style="cursor:pointer">{{forloop.counter}}</span></a>
                                        {% if item.tipoMunicipio in "34" %}
                                            {{item.get_nombre|title}}
                                        {% else %}
                                           {{item.get_tipoMunicipio_display|title}} de {{item.get_nombre|title}}
                                        {% endif %}
                                        </li>
                                      {% if forloop.counter == 45 or forloop.counter == 85 %}
                                       </ul>
                                        </div>
                                        <div class="col-md-4 listado_comunas">
                                         <ul>
                                      {% endif %}
                                  {% endif %}
                                 {% endfor %}
                             </ul>
                        </div>
	          <div class="col-md-2">
	              <div id="app_map" class="mapaGG"></div>

	          </div>