{% load static from staticfiles %}
 <div class="content-section">
        <div class="title">
              <h1>Recursos</h1>
        </div>

                 <div class="col-md-3">
				<div class="thumbnail_recursos">
						<img src="{% static 'images/recursos/teamviewer.png' %}"/>
						<div class="caption">
							<h3>
								Teamviewer
							</h3>
							<p>
				                                    <b>Sistema de Control Remoto</b><br>
				                                    Permite conectarnos remotamente al Municipio.
							</p>
							<p>
								<a class="btn-sm btn-primary" href="{% static 'recursos/teamviewer.zip' %}">Descargar</a>
							</p>
						</div>
					</div>
                </div>

                <div class="col-md-3">
					<div class="thumbnail_recursos">
						<img src="{% static 'images/recursos/backup.png' %}"/>
						<div class="caption">
							<h3>
								Backup
							</h3>
							<p>
				                                    <b>Sistema de Backup</b><br>
				                                    Permite realizar backups automatizados.
							</p>
							<p>
								<a class="btn-sm btn-primary" href="{% static 'recursos/backup.zip' %}">Descargar</a>
							</p>
						</div>
					</div>
                </div>
               {% if user.is_staff %}
                <div class="col-md-3">
					<div class="thumbnail_recursos">
						<img src="{% static 'images/recursos/bullzip.png' %}"/>
						<div class="caption">
							<h3>
								Bullzip
							</h3>
							<p>
				                                    <b>Sistema de Impresión Local</b><br>
				                                    Permite generar PDF's de las Boletas'
							</p>
							</div>
							<div class="verMas">
							<p>
								<a class="btn-sm btn-primary" href="{% static 'recursos/bullzip.zip' %}">Descargar</a>
							</p>
						</div>
					</div>
                </div>
                {% endif %}
                <div class="col-md-3">
					<div class="thumbnail_recursos">
						<img src="{% static 'images/recursos/ibexpert.jpg' %}"/>
						<div class="caption">
							<h3>
								IBExpert
							</h3>
							<p>
				                                    <b>Sistema de Administración de BD's'</b><br>
				                                    Permite administrar las BD's.
							</p>
							</div>
							<div class="verMas">
							<p>
								<a class="btn-sm btn-primary" href="{% static 'recursos/ibexpert.zip' %}">Descargar</a>
							</p>
						</div>
					</div>
                </div>

               <div class="col-md-3">
					<div class="thumbnail_recursos">
						<img src="{% static 'images/recursos/firebird.png' %}"/>
						<div class="caption">
							<h3>
								Firebird
							</h3>
							<p>
				                                    <b>Sistema Gestor de BD's'</b><br>
				                                    Motor de BD's Firebird v1.5.6
							</p>
							</div>
							<div class="verMas">
							<p>
								<a class="btn-sm btn-primary" href="{% static 'recursos/firebird.zip' %}">Descargar</a>
							</p>
						</div>
					</div>
             </div>


    </div>
